---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const places = await getCollection("places");
---

<Layout title="Places">
  <ul>
    {
      places.map(({ id, data: { name } }) => (
        <li>
          <a href={`/places/${id}`}>{name}</a>
        </li>
      ))
    }
  </ul>
</Layout>

<style>
  ul {
    margin-left: 2em;
  }
  li {
    margin-top: 0.4em;
  }
</style>
