a {
  color: var(--colors-primary);
  outline-color: var(--colors-secondary);
}

a:hover {
  opacity: 0.75;
}

.bonny-text {
  color: var(--colors-primary);
}

.systems-text {
  color: var(--colors-secondary);
}
