body {
  background: var(--colors-secondary);
  color: var(--colors-primary);
}

a:focus {
  outline: 2px solid var(--colors-tertiary);
}

a {
  color: var(--colors-primary);
}

a:hover {
  opacity: 0.75;
}
