---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <p>
    <em>One Place A Day</em> is a website where <a href="https://sammy.pizza"
      >sammy</a
    > shares his thoughts on places he goes to.
  </p>
</Layout>
