---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
    <p><em>One Place A Day</em> is a website where i (<a href="https://sammy.pizza">sammy samkough</a>) share my thoughts on places i goes to.</p>
    <p>the purpose of this website is two-fold:</p>
    <ol>
        <li>i have opinions on places i go to and would like to share them</li>
        <li>i want to show people the power of expressing one's self through one's own personal website (as opposed to expressing one's self via a <var>platform<sup>*</sup></var>)</li>
    </ol>
    <hr />
    <p><sup>*</sup> i.e. Instagram, YouTube, X / Twitter</p>
</Layout>