---
import { TITLE } from "../utils";
import Navigation from "./Navigation.astro";
---

<footer>
  <span>{TITLE}</span>
  <Navigation />
</footer>

<style>
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
  }
</style>
