---
import { TITLE } from "../utils";
import Links from "./Links.astro";

---

<footer>
    <span>{TITLE}</span>
    <Links/>
</footer>

<style>
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        flex-wrap: wrap;
    }
</style>