---
import { LIST } from "../utils";
---

<nav>
    <ul>
        {LIST.map(({title, href}) => (
            <li><a href={href}>{title}</a></li>
        ))}
    </ul>
</nav>

<style>
    ul {
        padding: 0;
        margin: 0;
        display: flex;
        gap: 16px;
        flex-wrap: wrap;
    }
    li {
        list-style-type: none;
    }
</style>