---
import { NAVIGATION_LINKS } from "../utils";
---

<nav>
  <ul>
    {
      NAVIGATION_LINKS.map(({ title, href }) => (
        <li>
          <a href={href}>{title}</a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }
  li {
    list-style-type: none;
  }
</style>
